<% provide(:title, "outfitsとは？") %>

<h1>outfitsとは？</h1>
<p>英語で今着ている服や、着こなし方というニュアンス</p>
<p>まぁ、いけてる感じのコーデの記録を残して行こうみたいな感じ</p>
<p>あとでそのコーデで出かけた時の自分のコメント付きで振り返れるから結構便利、意外と同じ失敗したりするんだよな</p>
<p>いい教訓も悪い教訓もその時の感想と一緒に記録すれば後々役立つ</p>
<p>振り返ると似合ってる似合ってないとか、あの頃はこんなテイストにハマってたなとか</p>
<p>いつも何も言われないのに褒められたとか</p>
<p>マジか？この感じがええのんか？とか記録しといてください</p>
