<% provide(:title, "プロフィール") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>プロフィール</h1>
    <%= gravatar_for @user %>
    <%= @user.name %><br>
    <%= @user.introduction %>
  </div>
</div>